<p id="notice"><%= notice %></p>

<p>
  <strong>Student Name:</strong>
  <%= @registration.student.name%>
</p>

<p>
  <strong>Section:</strong>
  <%= @registration.section.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @registration.section.semester.semester %>

</p>

<p>
  <strong>Course No:</strong>
  <%= @registration.section.course.number %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @registration.section.professor.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @registration.section.course.department.name %>
</p>

<%= link_to 'Back', controller: "static_pages" , action: "index"%>
