<p id="notice"><%= notice %></p>

<h1>Registered Students</h1>

<table class="table">
  <thead>
  <tr>
    <th>Student Name</th>
    <th>Section(Year)</th>
    <th>Semester</th>
    <th>Course Number</th>
    <th>Professor</th>
    <th>Department</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @registrations.each do |student_section| %>
    <tr>
      <td><%= student_section.student.name %></td>
      <td><%= student_section.section.year %></td>
      <td><%= student_section.section.semester.semester %></td>
      <td><%= student_section.section.course.number %></td>
      <td><%= student_section.section.professor.name %></td>
      <td><%= student_section.section.course.department.name%></td>

          <td><%= link_to 'Show', controller: "registrations" , action: "show", id: student_section%></td>
<!--      <td><%#= link_to 'Edit', edit_registration_path(student_section) %></td>-->
<!--      <td><%#= link_to 'Destroy', student_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Registration', new_registration_path %>
