<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @section.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @section.semester.semester %>
</p>

<p>
  <strong>Course Number:</strong>
  <%= @section.course.number %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @section.professor.name%>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
