<p id="notice"><%= notice %></p>

<h1>Professors</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Office Number</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.name %></td>
        <td><%= professor.office %></td>
        <td><%= link_to 'Show', professor %>
        <%= link_to 'Edit', edit_professor_path(professor) %>
        <%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professor', new_professor_path %>
