<%= form_with(model: student_section, local: true) do |form| %>
  <% if student_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
        <% student_section.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label :Student %>
    <%= collection_select(:student_section, :student_id , @students, :id, :name) %>
  </div>


  <div class="field">
    <%= form.label :Section %>
    <%= collection_select(:student_section, :section_id , @sections, :id, :year) %>
  </div>

   <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
